@model RoleTop_Mvc.ViewModel.HistoricoViewModel
<main>
    <h2>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Tipo do evento</th>
                <th>Numero de Pessoas</th>
                <th>Preço</th>
                <th>Status do pedido</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var Agendamentos in Model.Agendamento ) {
                <tr>
                    <td>@Agendamentos.DataEvento</td>
                    <td>@Agendamentos.NomeEvento</td>
                    <td>@Agendamentos.Npessoas</td>
                    <td>10.000</td>
                    @if(@Agendamentos.Status == 0){
                    <td>Em analise</td>
                    
                    }else if(@Agendamentos.Status == 1){
                        <td> Aprovado </td>
                    }else if(@Agendamentos.Status == 2){
                        <td> Reprovado </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</main>